Source: libtertiusqbit-webinterface-fastcgi-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libfcgi-perl, libtertiusqbit-webinterface-perl, libfcgi-procmanager-perl, libproc-daemon-perl, liburi-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-webinterface-fastcgi-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libfcgi-perl, libtertiusqbit-webinterface-perl, libfcgi-procmanager-perl, libproc-daemon-perl, liburi-perl
Conflicts: libqbit-webinterface-fastcgi-perl
Replaces: libqbit-webinterface-fastcgi-perl
Description: Package for connect WebInterface with FastCGI.
 Package for connect WebInterface with FastCGI.
